Repository jscutlery/convoyr: changes, and which Codecov flags are due for each by the changed paths.
All: core, angular, plugin-cache

codecov.yml:

coverage:
  precision: 2
  round: down
  status:
    project:
      core:
        flags: core
        target: 90%
      angular:
        target: 90%
        flags: angular
      plugin-cache:
        target: 90%
        flags: plugin-cache
    patch:
      default:
        enabled: no
        if_not_found: success
    changes:
      default:
        enabled: no
        if_not_found: success
flags:
  core:
    paths:
      - libs/core/src
  angular:
    paths:
      - libs/angular/src
  plugin-cache:
    paths:
      - libs/plugin-cache/src

📦 Update dependency @angular/cli to v9.0.0-rc.3
  package.json
  yarn.lock
Due: none

📦 Update dependency eslint to v6.7.0
  package.json
  yarn.lock
Due: none

📦 Lock file maintenance
  yarn.lock
Due: none

📦 Update dependency @types/node to v12.12.12
  yarn.lock
Due: none

🧹 use `matchMethod` as default condition
  libs/plugin-cache/src/lib/plugin-cache.ts
Due: plugin-cache

📦 Update nrwl monorepo to v8.8.2
  package.json
  yarn.lock
Due: none

:pencil: update readme
  README.md
  libs/plugin-cache/README.md
Due: none

:pencil: update cache plugin readme
  libs/plugin-cache/README.md
Due: none

:pencil: update readme
  README.md
Due: none

:hammer_and_wrench: add node_module cache in CI workflow
  .github/workflows/ci.yml
Due: none

📦 Update dependency eslint to v6.7.1
  package.json
  yarn.lock
Due: none

📦 Update dependency @types/node to v12.12.14
  yarn.lock
Due: none

📦 Update dependency core-js to v3.4.3
  yarn.lock
Due: none

📦 Update dependency lint-staged to v9.5.0
  package.json
  yarn.lock
Due: none

📦 Update dependency core-js to v3.4.4
  yarn.lock
Due: none

feat!: :white_check_mark: use an object as plugin handler
  libs/angular/src/lib/http-ext.module.spec.ts
  libs/core/src/index.ts
  libs/core/src/lib/handler.ts
  libs/core/src/lib/http-ext.spec.ts
  libs/core/src/lib/http-ext.ts
  libs/core/src/lib/plugin.ts
  libs/core/src/lib/testing/create-spy-plugin.ts
  libs/core/src/lib/throw-invalid-plugin-condition.ts
  libs/plugin-cache/src/lib/handler.ts
  libs/plugin-cache/src/lib/plugin-cache.spec.ts
  libs/plugin-cache/src/lib/plugin-cache.ts
Due: core, angular, plugin-cache

refactor!: 🧹 rename final handler to `httpHandler`
  libs/angular/src/lib/http-ext.inteceptor.spec.ts
  libs/angular/src/lib/http-ext.interceptor.ts
  libs/core/src/index.ts
  libs/core/src/lib/handler.ts
  libs/core/src/lib/http-ext.spec.ts
  libs/core/src/lib/http-ext.ts
  libs/core/src/lib/request-handler.ts
Due: core, angular

fix: :beetle: sandbox `loggerPlugin` use handler object
  apps/sandbox/src/app/book-list.component.ts
  apps/sandbox/src/app/http/logger-plugin.ts
Due: none

📦 Update dependency core-js to v3.4.5
  yarn.lock
Due: none

📦 Update angular monorepo to v9.0.0-rc.4
  yarn.lock
Due: none

📦 Update dependency cypress to v3.7.0
  package.json
  yarn.lock
Due: none

📦 Update dependency @angular/cli to v9.0.0-rc.4
  package.json
  yarn.lock
Due: none

📦 Update dependency ts-node to v8.5.3
  yarn.lock
Due: none

refactor!: 🧹 rename `storeAdapter` argument to `storage`
  libs/plugin-cache/src/lib/handler.ts
  libs/plugin-cache/src/lib/plugin-cache.spec.ts
  libs/plugin-cache/src/lib/plugin-cache.ts
Due: plugin-cache

refactor!: 🧹 rename `RequestHandlerFn` to `NextFn`
  libs/core/src/index.ts
  libs/core/src/lib/handler.ts
  libs/core/src/lib/http-ext.ts
  libs/core/src/lib/request-handler.ts
Due: core

refactor: 🧹 rename `StoreAdapter` to `StorageAdapter`
  libs/plugin-cache/README.md
  libs/plugin-cache/src/lib/handler.ts
  libs/plugin-cache/src/lib/store-adapters/local-storage-adapter.ts
  libs/plugin-cache/src/lib/store-adapters/memory-adapter.ts
  libs/plugin-cache/src/lib/store-adapters/storage-adapter.ts
Due: plugin-cache

:hammer_and_wrench: expose `StorageAdapter` interface
  libs/plugin-cache/src/index.ts
Due: plugin-cache

📦 Update dependency ts-node to v8.5.4
  yarn.lock
Due: none

📦 Update nrwl monorepo to v8.8.3
  package.json
  yarn.lock
Due: none

📦 Update angular monorepo to >= 8.2.14
  libs/angular/package.json
  libs/core/package.json
  libs/plugin-cache/package.json
Due: none
