Repository jscutlery/convoyr: changes, and which Codecov flags are due for each by the changed paths.
All: angular, axios, core, plugin-auth, plugin-cache, plugin-retry

fix: 📦 update angular monorepo to v9.1.3
  libs/angular/package.json
  yarn.lock
Due: none

chore: 📦 lock file maintenance
  yarn.lock
Due: none

chore: 📦 update dependency @angular/cli to v9.1.3
  package.json
  yarn.lock
Due: none

chore: 🛠 rename project to Convoy
  libs/angular/src/lib/convoy.inteceptor.spec.ts
  libs/angular/src/lib/convoy.interceptor.ts
  libs/angular/src/lib/convoy.module.spec.ts
  libs/angular/src/lib/convoy.module.ts
  libs/core/src/lib/convoy.spec.ts
  libs/core/src/lib/covoy.ts
Due: angular, core

chore: 🛠 rename project to Convoy
  libs/core/src/lib/convoy.ts
Due: core

chore: 🛠 update release script
  lerna.json
  tools/release.js
Due: none

release: 🚀 publish v2.2.0
  CHANGELOG.md
  lerna.json
  libs/angular/CHANGELOG.md
  libs/angular/package.json
  libs/core/CHANGELOG.md
  libs/core/package.json
  libs/plugin-auth/CHANGELOG.md
  libs/plugin-auth/package.json
  libs/plugin-cache/CHANGELOG.md
  libs/plugin-cache/package.json
  libs/plugin-retry/CHANGELOG.md
  libs/plugin-retry/package.json
Due: none

chore: 🛠 update release script
  lerna.json
  libs/angular/package.json
  libs/core/package.json
  libs/plugin-auth/package.json
  libs/plugin-cache/package.json
  libs/plugin-retry/package.json
  tools/release.js
Due: none

chore: 🛠 update release script
  libs/angular/package.json
  libs/core/package.json
  libs/plugin-auth/package.json
  libs/plugin-cache/package.json
  libs/plugin-retry/package.json
Due: none

chore: 🛠 update .gitignore
  .gitignore
Due: none

chore: 🛠 fix release command
  libs/angular/package.json
  libs/core/package.json
  libs/plugin-auth/package.json
  libs/plugin-cache/package.json
Due: none

chore: 🛠 rename project to Convoyr
  .all-contributorsrc
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  angular.json
  apps/sandbox/README.md
  apps/sandbox/src/app/nav/nav.component.ts
  libs/angular/CHANGELOG.md
  libs/angular/README.md
  libs/angular/package.json
  libs/angular/src/index.ts
  libs/angular/src/lib/convoy.inteceptor.spec.ts
  libs/angular/src/lib/convoy.interceptor.ts
  libs/angular/src/lib/convoy.module.spec.ts
  libs/angular/src/lib/convoy.module.ts
  libs/angular/tslint.json
  libs/core/CHANGELOG.md
  libs/core/README.md
  libs/core/package.json
  libs/core/src/index.spec.ts
  libs/core/src/index.ts
  libs/core/src/lib/convoy.spec.ts
  libs/core/src/lib/convoy.ts
  libs/core/tslint.json
  libs/plugin-auth/CHANGELOG.md
  libs/plugin-auth/README.md
  libs/plugin-auth/package.json
  libs/plugin-auth/tslint.json
  libs/plugin-cache/CHANGELOG.md
  libs/plugin-cache/README.md
  libs/plugin-cache/package.json
  libs/plugin-cache/tslint.json
  libs/plugin-retry/CHANGELOG.md
  libs/plugin-retry/README.md
  libs/plugin-retry/package.json
  libs/plugin-retry/tslint.json
  nx.json
  package.json
Due: angular, core

chore: 🛠 rename project to Convoyr
  libs/angular/src/lib/http-converter.ts
  libs/core/src/index.ts
  libs/core/src/lib/convoy.ts
  libs/core/src/lib/handler.ts
  libs/core/src/lib/request-handler.ts
  libs/core/src/lib/response.ts
  libs/core/testing/src/lib/create-plugin-tester.ts
  libs/plugin-auth/src/lib/on-unauthorized.ts
  libs/plugin-cache/src/lib/cache-entry.ts
  libs/plugin-cache/src/lib/cache-handler.ts
  libs/plugin-cache/src/lib/cache-response.ts
  libs/plugin-cache/src/lib/create-cache-plugin.spec.ts
  libs/plugin-retry/src/lib/predicates/is-server-error.spec.ts
  libs/plugin-retry/src/lib/predicates/is-server-or-unknown-error.spec.ts
  libs/plugin-retry/src/lib/predicates/is-unknown-error.spec.ts
  libs/plugin-retry/src/lib/predicates/retry-predicate.ts
  libs/plugin-retry/src/lib/retry-handler.ts
Due: angular, core, plugin-auth, plugin-cache, plugin-retry

chore: 🛠 rename project to Convoyr
  apps/sandbox/src/app/http/create-logger-plugin.ts
  libs/angular/src/lib/convoy.interceptor.ts
  libs/core/src/index.ts
  libs/core/src/lib/convoy.ts
  libs/core/src/lib/plugin.ts
Due: angular, core

chore: 🛠 rename project to Convoyr
  README.md
  libs/angular/src/lib/convoy.inteceptor.spec.ts
Due: angular

chore: 🛠 rename project to Convoyr
  libs/angular/src/lib/convoyr.inteceptor.spec.ts
  libs/angular/src/lib/convoyr.interceptor.ts
  libs/angular/src/lib/convoyr.module.spec.ts
  libs/angular/src/lib/convoyr.module.ts
  libs/core/src/lib/convoyr.spec.ts
  libs/core/src/lib/convoyr.ts
Due: angular, core

chore: 🛠 rename project to Convoyr
  libs/angular/src/lib/convoyr.interceptor.ts
  libs/angular/src/lib/convoyr.module.ts
Due: angular

chore: 🛠 rename project to Convoyr
  apps/sandbox/src/app/http/http.module.ts
  libs/angular/src/index.ts
Due: angular

chore: 🛠 rename project to Convoyr
  libs/angular/src/lib/http-converter.spec.ts
  libs/angular/src/lib/http-converter.ts
  libs/core/src/index.ts
  libs/core/src/lib/convoyr.ts
  libs/core/src/lib/handler.ts
  libs/core/src/lib/matchers/match-method/match-method.spec.ts
  libs/core/src/lib/matchers/match-origin/match-origin.spec.ts
  libs/core/src/lib/plugin.ts
  libs/core/src/lib/request.ts
  libs/core/testing/src/lib/create-plugin-tester.ts
  libs/core/testing/src/lib/create-spy-plugin.ts
  libs/plugin-auth/src/lib/set-header.ts
  libs/plugin-cache/src/lib/cache-handler.ts
  libs/plugin-cache/src/lib/create-cache-plugin.spec.ts
  libs/plugin-cache/src/lib/create-cache-plugin.ts
  libs/plugin-retry/src/lib/create-retry-plugin.spec.ts
Due: angular, core, plugin-auth, plugin-cache, plugin-retry

chore: 🛠 rename project to Convoyr
  README.md
  libs/angular/src/index.spec.ts
  libs/angular/src/lib/convoyr.inteceptor.spec.ts
  libs/angular/src/lib/convoyr.module.spec.ts
  libs/plugin-auth/README.md
  libs/plugin-cache/README.md
  libs/plugin-retry/README.md
Due: angular

chore: 🛠 rename project to Convoyr
  libs/angular/src/lib/convoyr.inteceptor.spec.ts
Due: angular

chore: 🛠 rename project to Convoyr
  README.md
Due: none

chore: 🛠 rename operators to combiners
  libs/core/src/lib/matchers/combiners/and.spec.ts
  libs/core/src/lib/matchers/combiners/and.ts
  libs/core/src/lib/matchers/combiners/not.spec.ts
  libs/core/src/lib/matchers/combiners/not.ts
  libs/core/src/lib/matchers/combiners/or.spec.ts
  libs/core/src/lib/matchers/combiners/or.ts
  libs/core/src/lib/matchers/index.ts
Due: core

chore: 🛠 rename project to Convoyr
  libs/angular/src/lib/convoyr.inteceptor.spec.ts
  libs/angular/src/lib/convoyr.interceptor.ts
  libs/angular/src/lib/convoyr.module.spec.ts
  libs/angular/src/lib/convoyr.module.ts
Due: angular

feat: ✅ `NextFn` to `NextHandler` object
  README.md
  apps/sandbox/src/app/http/create-logger-plugin.ts
  libs/angular/src/lib/convoyr.inteceptor.spec.ts
  libs/angular/src/lib/convoyr.interceptor.ts
  libs/angular/src/lib/convoyr.module.spec.ts
  libs/core/src/index.ts
  libs/core/src/lib/convoyr.spec.ts
  libs/core/src/lib/convoyr.ts
  libs/core/src/lib/handler.ts
  libs/core/src/lib/request-handler.ts
  libs/core/testing/src/lib/create-plugin-tester.ts
  libs/core/testing/src/lib/create-spy-plugin.ts
  libs/plugin-auth/src/lib/auth-handler.spec.ts
  libs/plugin-auth/src/lib/auth-handler.ts
  libs/plugin-cache/src/lib/cache-handler.ts
  libs/plugin-cache/src/lib/create-cache-plugin.spec.ts
  libs/plugin-retry/src/lib/create-retry-plugin.spec.ts
  libs/plugin-retry/src/lib/retry-handler.ts
Due: angular, core, plugin-auth, plugin-cache, plugin-retry

chore(testing): 🛠 fix tester plugin next handler type
  libs/core/testing/src/lib/create-plugin-tester.ts
  libs/plugin-auth/src/lib/auth-handler.spec.ts
Due: plugin-auth

chore: 🛠 improve build speed
  tools/release.js
Due: none

chore: 🛠 fix publish script
  tools/release.js
Due: none

docs: 📝 remove bundlephobia badges
  README.md
Due: none

release: 🚀 publish v3.0.0
  CHANGELOG.md
  lerna.json
  libs/angular/CHANGELOG.md
  libs/angular/package.json
  libs/core/CHANGELOG.md
  libs/core/package.json
  libs/plugin-auth/CHANGELOG.md
  libs/plugin-auth/package.json
  libs/plugin-cache/CHANGELOG.md
  libs/plugin-cache/package.json
  libs/plugin-retry/CHANGELOG.md
  libs/plugin-retry/package.json
Due: none

chore: 🛠 make sure package is published when retrying
  tools/release.js
Due: none

chore: 🛠 tidy up package publishing (closes #146)
  libs/angular/ng-package.json
  libs/angular/package.json
  libs/core/ng-package.json
  libs/core/package.json
  libs/plugin-auth/ng-package.json
  libs/plugin-auth/package.json
  libs/plugin-cache/ng-package.json
  libs/plugin-cache/package.json
  libs/plugin-retry/ng-package.json
  libs/plugin-retry/package.json
  package.json
  tools/release.js
Due: none

chore: 🛠 fix library build deps resolution (#146)
  libs/angular/tsconfig.lib.json
  libs/plugin-auth/tsconfig.lib.json
  libs/plugin-cache/tsconfig.lib.json
  libs/plugin-retry/tsconfig.lib.json
Due: none

docs: 📝 update new plugin contribution guide
  CONTRIBUTING.md
Due: none

Path conditions:
  angular: any of: libs/angular/src
  axios: any of: libs/axios/src
  core: any of: libs/core/src
  plugin-auth: any of: libs/plugin-auth/src
  plugin-cache: any of: libs/plugin-cache/src
  plugin-retry: any of: libs/plugin-retry/src
