Repository jscutlery/convoyr: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugin-cache

codecov.yml:

coverage:
  precision: 2
  round: down
  status:
    project:
      core:
        flags: core
        target: 90%
      plugin-cache:
        target: 90%
        flags: plugin-cache
      patch:
        default:
          enabled: no
          if_not_found: success
      changes:
        default:
          enabled: no
          if_not_found: success

flags:
  core:
    paths:
      - libs/core/src
  plugin-cache:
    paths:
      - libs/plugin-cache/src

📦 Update dependency @types/node to v8.10.59
  yarn.lock
Due: none

📦 Update dependency cypress to v3.6.1
  package.json
  yarn.lock
Due: none

📦 Update dependency prettier to v1.19.0
  package.json
  yarn.lock
Due: none

📦 Update dependency prettier to v1.19.1
  package.json
  yarn.lock
Due: none

feat: :white_check_mark: split packages
  README.md
  angular.json
  libs/angular/README.md
  libs/angular/jest.config.js
  libs/angular/ng-package.json
  libs/angular/package.json
  libs/angular/src/index.spec.ts
  libs/angular/src/index.ts
  libs/angular/src/lib/http-converter.spec.ts
  libs/angular/src/lib/http-converter.ts
  libs/angular/src/lib/http-ext.inteceptor.spec.ts
  libs/angular/src/lib/http-ext.interceptor.ts
  libs/angular/src/lib/http-ext.module.spec.ts
  libs/angular/src/lib/http-ext.module.ts
  libs/angular/src/test-setup.ts
  libs/angular/tsconfig.json
  libs/angular/tsconfig.lib.json
  libs/angular/tsconfig.spec.json
  libs/angular/tslint.json
  libs/core/src/index.spec.ts
  libs/core/src/index.ts
  nx.json
  tsconfig.json
Due: core

:hammer_and_wrench: add angular lib to codecov
  codecov.yml
Due: none

fix: :beetle: package dependency build
  apps/sandbox/src/app/app.module.ts
  libs/angular/ng-package.json
  libs/angular/src/lib/http-ext.module.spec.ts
  libs/angular/tsconfig.lib.json
Due: none

🧪 add test-utils package
  README.md
  angular.json
  libs/angular/src/lib/http-ext.module.spec.ts
  libs/core/src/lib/http-ext.spec.ts
  libs/test-utils/README.md
  libs/test-utils/jest.config.js
  libs/test-utils/src/index.ts
  libs/test-utils/src/lib/create-spy-plugin.ts
  libs/test-utils/src/test-setup.ts
  libs/test-utils/tsconfig.json
  libs/test-utils/tsconfig.lib.json
  libs/test-utils/tsconfig.spec.json
  libs/test-utils/tslint.json
  nx.json
  tsconfig.json
Due: core

fix: :beetle: use path mapping to internally expose `_createSpyPlugin`
  libs/angular/src/lib/http-ext.module.spec.ts
  libs/core/src/lib/http-ext.spec.ts
  libs/core/src/lib/testing/create-spy-plugin.ts
  libs/core/src/lib/testing/index.ts
  tsconfig.json
  tslint.json
Due: core

📦 Update dependency core-js to v3.4.1
  yarn.lock
Due: none

📦 Update dependency ts-node to ~8.5.0
  package.json
  yarn.lock
Due: none

feat: :white_check_mark: refine metadata with `createdAt` property
  libs/plugin-cache/src/lib/add-cache-metadata.ts
  libs/plugin-cache/src/lib/apply-metadata.ts
  libs/plugin-cache/src/lib/metadata.ts
  libs/plugin-cache/src/lib/plugin-cache.spec.ts
  libs/plugin-cache/src/lib/plugin-cache.ts
  libs/plugin-cache/src/lib/to-string.ts
Due: plugin-cache

fix: :beetle: add missing `Omit` type
  libs/plugin-cache/src/lib/metadata.ts
Due: plugin-cache

📦 Lock file maintenance
  yarn.lock
Due: none

📦 Update nrwl monorepo to v8.7.1
  package.json
  yarn.lock
Due: none

📦 Update dependency lint-staged to v9.4.3
  yarn.lock
Due: none

📦 Update angular monorepo to v8.2.14
  yarn.lock
Due: none

📦 Update dependency @angular/cli to v8.3.19
  package.json
  yarn.lock
Due: none

📦 Update dependency ts-node to v8.5.2
  yarn.lock
Due: none

📦 Update dependency husky to v3.1.0
  yarn.lock
Due: none

📦 Update dependency @types/jest to v24.0.23
  package.json
Due: none

:hammer_and_wrench: bump Angular monorepo to 9.0.0-rc.2
  angular.json
  apps/sandbox/tsconfig.app.json
  libs/angular/src/lib/http-ext.module.ts
  libs/angular/tsconfig.lib.json
  libs/angular/tsconfig.lib.prod.json
  libs/core/tsconfig.lib.json
  libs/core/tsconfig.lib.prod.json
  libs/plugin-cache/tsconfig.lib.json
  libs/plugin-cache/tsconfig.lib.prod.json
  package.json
  yarn.lock
Due: none

fix: 🐞 fix AOT issue due to logic in `forRoot` Cf. https://github.com/angular/angular/issues/14707 This was detected thanks to default AOT on sandbox enabled by Angular 9 migration.
  libs/angular/src/lib/http-ext.inteceptor.spec.ts
  libs/angular/src/lib/http-ext.interceptor.ts
  libs/angular/src/lib/http-ext.module.ts
  package.json
Due: none

fix: 🐞 fix AOT issue "Expression form not supported" when using inline type with `@Inject`
  libs/angular/src/lib/http-ext.interceptor.ts
Due: none

🛠 fix `describe.each` typing issue
  libs/core/src/lib/matchers/match-method/match-method.spec.ts
  libs/core/src/lib/matchers/match-origin/match-origin.spec.ts
Due: core

📦 Update dependency @types/node to v12.12.9
  yarn.lock
Due: none

:hammer_and_wrench: improve plugin-cache public exports
  libs/plugin-cache/src/index.ts
  libs/plugin-cache/src/lib/metadata.ts
  libs/plugin-cache/src/lib/plugin-cache.ts
Due: plugin-cache

:hammer_and_wrench: improve sandbox
  apps/sandbox/src/app/app.component.html
  apps/sandbox/src/app/app.module.ts
  apps/sandbox/src/app/book-detail.component.ts
  apps/sandbox/src/app/book-list.component.ts
Due: none

:hammer_and_wrench: remove `CacheOrNetworkResponse` import
  libs/plugin-cache/src/lib/apply-metadata.ts
Due: plugin-cache

:hammer_and_wrench: add --all flag on CI build job
  .github/workflows/ci.yml
Due: none

:hammer_and_wrench: remove --base flag
  .github/workflows/ci.yml
Due: none

:hammer_and_wrench: drop CI usage of `affected:build` command
  .github/workflows/ci.yml
Due: none

:hammer_and_wrench: add missing coverage repoters
  apps/sandbox/jest.config.js
  libs/angular/jest.config.js
  libs/plugin-cache/jest.config.js
Due: none

🛠 Metadata type factorization
  libs/plugin-cache/src/lib/metadata.ts
Due: plugin-cache

🛠 rename cache response property `__http-ext-medata` to `metadata`
  apps/sandbox/src/app/book-detail.component.ts
  apps/sandbox/src/app/book-list.component.ts
  libs/plugin-cache/src/lib/apply-metadata.ts
Due: plugin-cache

🛠 rename cache response property `metadata` to `cacheMetadata`
  apps/sandbox/src/app/book-detail.component.ts
  apps/sandbox/src/app/book-list.component.ts
  libs/plugin-cache/src/lib/apply-metadata.ts
  libs/plugin-cache/src/lib/metadata.ts
  libs/plugin-cache/src/lib/plugin-cache.ts
Due: plugin-cache
