Repository jscutlery/convoyr: changes, and which Codecov flags are due for each by the changed paths.
All: angular, axios, core, plugin-auth, plugin-cache, plugin-retry

codecov.yml:

coverage:
  precision: 2
  round: down
  status:
    project:
      angular:
        target: 90%
        flags: angular
      axios:
        target: 90%
        flags: axios
      core:
        flags: core
        target: 90%
      plugin-auth:
        target: 90%
        flags: plugin-auth
      plugin-cache:
        target: 90%
        flags: plugin-cache
      plugin-retry:
        target: 90%
        flags: plugin-retry
    patch:
      default:
        enabled: no
        if_not_found: success
    changes:
      default:
        enabled: no
        if_not_found: success
flags:
  angular:
    paths:
      - libs/angular/src
  axios:
    paths:
      - libs/axios/src
  core:
    paths:
      - libs/core/src
  plugin-auth:
    paths:
      - libs/plugin-auth/src
  plugin-cache:
    paths:
      - libs/plugin-cache/src
  plugin-retry:
    paths:
      - libs/plugin-retry/src

chore: 📦 update dependency jest to v25.4.0
  package.json
  yarn.lock
Due: none

chore: 📦 lock file maintenance
  yarn.lock
Due: none

chore: 📦 update dependency @types/node to v13.13.1
  yarn.lock
Due: none

chore: 📦 update dependency cypress to v4.4.1
  package.json
  yarn.lock
Due: none

chore: 📦 update dependency ts-node to ~8.9.0
  package.json
  yarn.lock
Due: none

chore: 📦 update nrwl monorepo to v9.2.3
  package.json
  yarn.lock
Due: none

wip(core): 🚧 add `and` operator
  libs/core/src/lib/matchers/operators/and.spec.ts
  libs/core/src/lib/matchers/operators/and.ts
Due: core

wip(core): 🚧 add `or` operator
  libs/core/src/lib/matchers/operators/or.spec.ts
  libs/core/src/lib/matchers/operators/or.ts
Due: core

wip(core): 🚧 add operators
  libs/core/src/index.spec.ts
  libs/core/src/index.ts
  libs/core/src/lib/matchers/index.ts
Due: core

docs: 📝 add operators
  README.md
Due: none

chore(sandbox): 🚧 add operators
  apps/sandbox/src/app/http/create-logger-plugin.ts
Due: none

docs: 📝 improve operators section
  README.md
Due: none

chore: 📦 update dependency lint-staged to v10.1.7
  package.json
  yarn.lock
Due: none

chore: 📦 update dependency prettier to v2.0.5
  package.json
  yarn.lock
Due: none

chore: 📦 update dependency @angular/cli to v9.1.2
  package.json
  yarn.lock
Due: none

chore: 📦 update dependency @types/node to v13.13.2
  yarn.lock
Due: none

docs: 📝 improve all sections
  README.md
Due: none

docs: 📝 update new plugin section
  CONTRIBUTING.md
Due: none

chore(sandbox): 🛠 move http related stuff to a dedicated module
  apps/sandbox/src/app/app.module.ts
  apps/sandbox/src/app/http/http.module.ts
Due: none

docs(sandbox): add readme file
  apps/sandbox/README.md
Due: none

docs: 📝 improve conditional handling section
  README.md
Due: none

feat(core): ✅ add `not` operator
  libs/core/src/index.spec.ts
  libs/core/src/index.ts
  libs/core/src/lib/matchers/index.ts
  libs/core/src/lib/matchers/operators/not.spec.ts
  libs/core/src/lib/matchers/operators/not.ts
Due: core

docs: 📝 add `not` operator
  README.md
Due: none

docs: 📝 fix missing imports
  README.md
Due: none

chore: 🛠 prettify
  libs/angular/src/lib/http-converter.spec.ts
  libs/angular/src/lib/http-converter.ts
  libs/angular/src/lib/http-ext.inteceptor.spec.ts
  libs/angular/src/lib/http-ext.interceptor.ts
  libs/angular/src/lib/http-ext.module.spec.ts
  libs/core/testing/src/lib/create-plugin-tester.ts
  libs/core/testing/src/lib/create-spy-plugin.ts
Due: angular

chore: 🛠 replace `test:*` by `test:all` and let's just watch everything
  package.json
Due: none

test(core): 🗜 check that operators work when only one condition fails
  commitlint.config.js
  libs/core/src/lib/matchers/operators/and.spec.ts
  libs/core/src/lib/matchers/operators/or.spec.ts
Due: core

feat(core): ✅ handle async conditions in `and` operator
  libs/core/src/lib/matchers/operators/and.spec.ts
  libs/core/src/lib/matchers/operators/and.ts
Due: core

feat(core): ✅ handle async conditions in `or` operator
  libs/core/src/lib/matchers/operators/and.spec.ts
  libs/core/src/lib/matchers/operators/and.ts
  libs/core/src/lib/matchers/operators/or.spec.ts
  libs/core/src/lib/matchers/operators/or.ts
Due: core

docs: 📝 update library description
  README.md
Due: none

docs: 📝add examples
  README.md
Due: none

docs: 📝 improve minor details
  README.md
Due: none

docs: 📝 change reactive emoji
  README.md
Due: none
