Repository jscutlery/convoyr: changes, and which Codecov flags are due for each by the changed paths.
All: angular, axios, core, plugin-auth, plugin-cache, plugin-retry

chore: 📦 update dependency lint-staged to v10.2.9
  package.json
  yarn.lock
Due: none

chore: 📦 update dependency @types/node to v13.13.10
  yarn.lock
Due: none

chore: 📦 lock file maintenance
  yarn.lock
Due: none

chore: 📦 update dependency eslint to v7.2.0
  package.json
  yarn.lock
Due: none

chore: 📦 update dependency all-contributors-cli to v6.16.0
  yarn.lock
Due: none

Update README.md
  README.md
Due: none

chore: 📦 update dependency @types/node to v13.13.11
  yarn.lock
Due: none

chore: 📦 update dependency cypress to v4.8.0
  package.json
  yarn.lock
Due: none

chore: 📦 update dependency lerna to v3.22.1
  yarn.lock
Due: none

chore: 📦 update dependency @types/jest to v26
  package.json
  yarn.lock
Due: none

docs: 📝 update readme.md
  README.md
Due: none

docs: add @pegaltier as a contributor
  .all-contributorsrc
  README.md
Due: none

docs: 📝 fix link and title
  README.md
Due: none

chore: 📦 update dependency @types/node to v13.13.12
  yarn.lock
Due: none

fix: 📦 update angular monorepo to v9.1.10
  libs/angular/package.json
  yarn.lock
Due: none

fix: 📦 update angular monorepo to v9.1.11
  libs/angular/package.json
  yarn.lock
Due: none

chore: 📦 update dependency @angular/cli to v9.1.8
  package.json
  yarn.lock
Due: none

chore: 📦 update dependency lint-staged to v10.2.10
  package.json
  yarn.lock
Due: none

chore: 📦 update nrwl monorepo to v9.4.0
  package.json
  yarn.lock
Due: none

fix(core): 🐞 handle synchronous error and log notification
  libs/core/src/lib/convoyr.spec.ts
  libs/core/src/lib/convoyr.ts
Due: core

chore(core): 🛠 refactor `matcherError` argument
  libs/core/src/lib/matchers/find-matcher-or-throw.ts
  libs/core/src/lib/matchers/match-method/match-method.ts
  libs/core/src/lib/matchers/match-method/method-array-matcher.ts
  libs/core/src/lib/matchers/match-method/method-string-matcher.ts
  libs/core/src/lib/matchers/match-origin/match-origin.ts
  libs/core/src/lib/matchers/match-origin/origin-array-matcher.ts
  libs/core/src/lib/matchers/match-origin/origin-string-matcher.ts
  libs/core/src/lib/matchers/match-path/match-path.ts
  libs/core/src/lib/matchers/match-response-type/match-response-type.ts
  libs/core/src/lib/matchers/match-response-type/response-type-array-matcher.ts
  libs/core/src/lib/throw-invalid-plugin-condition.ts
Due: core

chore(sandbox): 🛠 update plugin
  apps/sandbox/src/app/http/http.module.ts
  apps/sandbox/src/app/http/reject-unknown-origins-plugin.ts
Due: none

chore(core): 🛠 fix testing lib import
  libs/core/src/lib/convoyr.spec.ts
Due: core

chore(testing): 🛠 mock error notification
  libs/core/src/lib/convoyr.ts
  libs/core/testing/src/lib/create-plugin-tester.ts
Due: core

chore(sandbox): 🛠 fix plugin condition
  apps/sandbox/src/app/http/reject-unknown-origins-plugin.ts
Due: none

chore(core): 🛠 use ObserverSpy library
  libs/core/src/lib/convoyr.spec.ts
  package.json
  yarn.lock
Due: core

chore(angular): 🛠 use ObserverSpy library
  libs/angular/src/lib/convoyr.inteceptor.spec.ts
  libs/core/src/lib/convoyr.ts
Due: angular, core

chore(angular): 🛠 use ObserverSpy library
  libs/angular/src/lib/convoyr.module.spec.ts
Due: angular

chore(sandbox,plugin-cache,plugin-auth): 🛠 use ObserverSpy library
  apps/sandbox/src/app/http/reject-unknown-origins-plugin.spec.ts
  libs/plugin-auth/src/lib/auth-handler.spec.ts
  libs/plugin-cache/src/lib/cache-handler.spec.ts
Due: plugin-auth, plugin-cache

chore(core): 🛠 fix spec import
  libs/core/src/lib/convoyr.spec.ts
Due: core

chore(sandbox): 🛠 fix observerSpy usage in spec
  apps/sandbox/src/app/http/reject-unknown-origins-plugin.spec.ts
Due: none

wip(plugin-cache): add local storage
  libs/plugin-cache/src/lib/storages/local-storage.spec.ts
  libs/plugin-cache/src/lib/storages/local-storage.ts
  libs/plugin-cache/src/lib/storages/memory-storage.ts
  libs/plugin-cache/src/lib/storages/storage.ts
Due: plugin-cache

chore(lru-storage): 🛠 init lru-storage library
  angular.json
  libs/lru-storage/README.md
  libs/lru-storage/jest.config.js
  libs/lru-storage/ng-package.json
  libs/lru-storage/node_modules/tslib/CopyrightNotice.txt
  libs/lru-storage/node_modules/tslib/LICENSE.txt
  libs/lru-storage/node_modules/tslib/README.md
  libs/lru-storage/node_modules/tslib/package.json
  libs/lru-storage/node_modules/tslib/tslib.d.ts
  libs/lru-storage/node_modules/tslib/tslib.es6.html
  libs/lru-storage/node_modules/tslib/tslib.es6.js
  libs/lru-storage/node_modules/tslib/tslib.html
  libs/lru-storage/node_modules/tslib/tslib.js
  libs/lru-storage/package.json
  libs/lru-storage/src/index.ts
  libs/lru-storage/src/lib/lru-storage.ts
  libs/lru-storage/src/test-setup.ts
  libs/lru-storage/tsconfig.json
  libs/lru-storage/tsconfig.lib.json
  libs/lru-storage/tsconfig.lib.prod.json
  libs/lru-storage/tsconfig.spec.json
  libs/lru-storage/tslint.json
  nx.json
  tsconfig.json
Due: none

Path conditions:
  angular: any of: libs/angular/src
  axios: any of: libs/axios/src
  core: any of: libs/core/src
  plugin-auth: any of: libs/plugin-auth/src
  plugin-cache: any of: libs/plugin-cache/src
  plugin-retry: any of: libs/plugin-retry/src
