Repository jscutlery/convoyr: changes, and which Codecov flags are due for each by the changed paths.
All: core, angular, plugin-cache

:construction: add cache size limit
  libs/plugin-cache/src/lib/cache-handler.ts
  libs/plugin-cache/src/lib/create-cache-plugin.spec.ts
  libs/plugin-cache/src/lib/storage-adapters/local-storage-adapter.ts
  libs/plugin-cache/src/lib/storage-adapters/memory-storage-adapter.ts
Due: plugin-cache

:construction: add cache size limit
  libs/plugin-cache/src/lib/create-cache-plugin.spec.ts
  libs/plugin-cache/src/lib/utils/parse-max-size.ts
Due: plugin-cache

:hammer_and_wrench: improve cache handler
  libs/plugin-cache/src/lib/cache-entry.ts
  libs/plugin-cache/src/lib/cache-handler.ts
  libs/plugin-cache/src/lib/storage-adapters/local-storage-adapter.ts
Due: plugin-cache

:hammer_and_wrench: expose `HttpExtCacheResponse`
  libs/plugin-cache/src/index.ts
Due: plugin-cache

📦 Update dependency @types/jest to v24.0.25
  package.json
  yarn.lock
Due: none

📦 Update dependency cypress to v3.8.1
  package.json
  yarn.lock
Due: none

📦 Lock file maintenance
  yarn.lock
Due: none

📦 Update dependency rxjs to v6.5.4
  yarn.lock
Due: none

📦 Update dependency lerna to v3.20.0
  yarn.lock
Due: none

📝 update README.md
  README.md
Due: none

:hammer_and_wrench: improve spec
  libs/plugin-cache/src/lib/utils/parse-max-size.spec.ts
Due: plugin-cache

📦 Update dependency lerna to v3.20.1
  yarn.lock
Due: none

:hammer_and_wrench: add `responseType` to `HttpExtRequest`
  libs/angular/src/lib/http-converter.ts
  libs/core/src/lib/request.ts
Due: core, angular

:hammer_and_wrench: add `responseType` to `HttpExtRequest`
  libs/angular/src/lib/http-converter.spec.ts
  libs/angular/src/lib/http-ext.module.spec.ts
Due: angular

:hammer_and_wrench: apply cache plugin only for json requests
  libs/plugin-cache/src/lib/create-cache-plugin.ts
Due: plugin-cache

📦 Update dependency lerna to v3.20.2
  yarn.lock
Due: none

📦 Update dependency @types/node to v12.12.23
  yarn.lock
Due: none

📦 Update dependency @types/node to v12.12.24
  yarn.lock
Due: none

🚧 move out maxAge and maxSize logic from cache handler
  libs/angular/src/lib/http-converter.ts
  libs/plugin-cache/src/lib/cache-handler.ts
  libs/plugin-cache/src/lib/create-cache-plugin.spec.ts
  libs/plugin-cache/src/lib/create-cache-plugin.ts
Due: angular, plugin-cache

🚧 move out maxAge and maxSize logic from cache handler
  libs/plugin-cache/package.json
  libs/plugin-cache/src/lib/cache-entry.ts
  package.json
  yarn.lock
Due: plugin-cache

🚧 move out maxAge and maxSize logic from cache handler
  libs/plugin-cache/package.json
  libs/plugin-cache/src/lib/storage-adapters/local-storage-adapter.ts
  libs/plugin-cache/src/lib/storage-adapters/memory-storage-adapter.ts
  libs/plugin-cache/src/lib/storage-adapters/storage-adapter.ts
  package.json
Due: plugin-cache

🚧 move out maxAge and maxSize logic from cache handler
  libs/plugin-cache/README.md
  libs/plugin-cache/src/index.ts
  libs/plugin-cache/src/lib/cache-handler.ts
  libs/plugin-cache/src/lib/create-cache-plugin.spec.ts
  libs/plugin-cache/src/lib/create-cache-plugin.ts
  libs/plugin-cache/src/lib/storage-adapters/local-storage-adapter.ts
  libs/plugin-cache/src/lib/storage-adapters/memory-storage-adapter.ts
  libs/plugin-cache/src/lib/storage-adapters/storage-adapter.ts
  libs/plugin-cache/src/lib/utils/parse-max-age.spec.ts
  libs/plugin-cache/src/lib/utils/parse-max-age.ts
  libs/plugin-cache/src/lib/utils/parse-max-size.spec.ts
  libs/plugin-cache/src/lib/utils/parse-max-size.ts
Due: plugin-cache

🚧 move out maxAge and maxSize logic from cache handler
  libs/plugin-cache/src/lib/storages/memory-storage.ts
  libs/plugin-cache/src/lib/storages/storage.ts
Due: plugin-cache

🚧 move out maxAge and maxSize logic from cache handler
  libs/plugin-cache/src/lib/create-cache-plugin.spec.ts
Due: plugin-cache

🚧 move out maxAge and maxSize logic from cache handler
  libs/plugin-cache/src/lib/storages/memory-storage.spec.ts
Due: plugin-cache

🚧 move out maxAge and maxSize logic from cache handler
  libs/plugin-cache/src/lib/storages/memory-storage.spec.ts
  libs/plugin-cache/src/lib/storages/memory-storage.ts
  package.json
  yarn.lock
Due: plugin-cache

🚧 move out maxAge and maxSize logic from cache handler
  libs/plugin-cache/src/lib/storages/memory-storage.spec.ts
  libs/plugin-cache/src/lib/storages/memory-storage.ts
Due: plugin-cache

🛠 vscode test debug setup
  .vscode/launch.json
Due: none

feat(plugin-cache): ✅ add maxSize to MemoryStorage
  README.md
  libs/core/package.json
  libs/plugin-cache/README.md
  libs/plugin-cache/src/lib/create-cache-plugin.ts
Due: plugin-cache

docs: 📝 fix typo
  README.md
Due: none

Path conditions:
  core: any of: libs/core/src
  angular: any of: libs/angular/src
  plugin-cache: any of: libs/plugin-cache/src
