Repository jscutlery/convoyr: changes, and which Codecov flags are due for each by the changed paths.
All: core, angular, plugin-cache

codecov.yml:

coverage:
  precision: 2
  round: down
  status:
    project:
      core:
        flags: core
        target: 90%
      angular:
        target: 90%
        flags: angular
      plugin-cache:
        target: 90%
        flags: plugin-cache
    patch:
      default:
        enabled: no
        if_not_found: success
    changes:
      default:
        enabled: no
        if_not_found: success
flags:
  core:
    paths:
      - libs/core/src
  angular:
    paths:
      - libs/angular/src
  plugin-cache:
    paths:
      - libs/plugin-cache/src

📦 Lock file maintenance
  yarn.lock
Due: none

📦 Update dependency @angular/cli to v9.0.0-rc.6
  package.json
  yarn.lock
Due: none

📦 Update dependency rxjs-marbles to v5.0.4
  yarn.lock
Due: none

📦 Update dependency @types/node to v12.12.18
  yarn.lock
Due: none

📦 Update dependency @types/node to v12.12.19
  yarn.lock
Due: none

📦 Update dependency @types/node to v12.12.20
  yarn.lock
Due: none

📦 Update dependency @types/jest to v24.0.24
  package.json
  yarn.lock
Due: none

📦 Update dependency @types/node to v12.12.21
  yarn.lock
Due: none

📦 Update dependency codelyzer to v5.2.1
  yarn.lock
Due: none

📦 Update dependency core-js to v3.6.0
  yarn.lock
Due: none

📦 Update angular monorepo to v9.0.0-rc.7
  yarn.lock
Due: none

🛠 remove date utils
  libs/plugin-cache/src/lib/utils/date.spec.ts
  libs/plugin-cache/src/lib/utils/date.ts
Due: plugin-cache

:pencil: update cache plugin readme
  libs/plugin-cache/README.md
Due: none

:hammer_and_wrench: add specs for `fromSyncOrAsync`
  libs/core/src/lib/utils/from-sync-or-async.spec.ts
  libs/core/src/lib/utils/is-promise.ts
Due: core

📦 Update dependency eslint to v6.8.0
  package.json
  yarn.lock
Due: none

📦 Update dependency @angular/cli to v9.0.0-rc.7
  package.json
  yarn.lock
Due: none

📦 Update dependency @types/node to v12.12.22
  yarn.lock
Due: none

📦 Update dependency core-js to v3.6.1
  yarn.lock
Due: none

:construction: add cache size limit
  libs/plugin-cache/src/lib/cache-handler.ts
  libs/plugin-cache/src/lib/create-cache-plugin.spec.ts
Due: plugin-cache

:construction: add cache size limit
  libs/plugin-cache/package.json
  libs/plugin-cache/src/lib/cache-handler.ts
  libs/plugin-cache/src/lib/create-cache-plugin.spec.ts
  libs/plugin-cache/src/lib/create-cache-plugin.ts
  package.json
  yarn.lock
Due: plugin-cache

:construction: add cache size limit
  libs/plugin-cache/src/lib/cache-entry.ts
  libs/plugin-cache/src/lib/cache-handler.ts
  libs/plugin-cache/src/lib/create-cache-plugin.spec.ts
  libs/plugin-cache/src/lib/storage-adapters/local-storage-adapter.ts
  libs/plugin-cache/src/lib/storage-adapters/memory-storage-adapter.ts
  libs/plugin-cache/src/lib/storage-adapters/storage-adapter.ts
  libs/plugin-cache/src/lib/utils/parse-max-size.ts
Due: plugin-cache

:construction: add cache size limit
  libs/plugin-cache/src/lib/apply-metadata.ts
Due: plugin-cache

:construction: add cache size limit
  libs/plugin-cache/package.json
  libs/plugin-cache/src/lib/create-cache-plugin.spec.ts
  libs/plugin-cache/src/lib/utils/parse-max-age.ts
  libs/plugin-cache/src/lib/utils/parse-max-size.ts
  package.json
  yarn.lock
Due: plugin-cache

:construction: add cache size limit
  libs/plugin-cache/src/lib/utils/parse-max-size.spec.ts
Due: plugin-cache

:construction: add cache size limit
  libs/plugin-cache/src/lib/cache-entry.ts
  libs/plugin-cache/src/lib/cache-handler.ts
  libs/plugin-cache/src/lib/create-cache-plugin.spec.ts
Due: plugin-cache

:construction: add cache size limit
  libs/plugin-cache/src/lib/utils/parse-max-size.spec.ts
  libs/plugin-cache/src/lib/utils/parse-max-size.ts
Due: plugin-cache
