Repository jscutlery/convoyr: changes, and which Codecov flags are due for each by the changed paths.
All: angular, core, plugin-auth, plugin-cache, plugin-retry

📦 Update dependency jest to v25.2.3
  package.json
Due: none

📦 Update dependency ts-node to ~8.8.0
  package.json
Due: none

📦 Update dependency prettier to v2
  package.json
Due: none

📦 Update dependency rxjs-marbles to v6
  package.json
Due: none

📦 Update nrwl monorepo to v9
  package.json
Due: none

📦 Update dependency @types/express to v4.17.3
  package.json
Due: none

📦 Update dependency typescript to ~3.8.0
  package.json
Due: none

chore: 🛠 add `useWorkspaces` to Lerna config
  lerna.json
Due: none

chore: 🛠 move `createPluginTester` to testing endpoint
  libs/core/src/index.ts
  libs/core/testing/src/index.ts
  libs/core/testing/src/lib/create-plugin-tester.ts
  libs/plugin-auth/src/lib/create-auth-plugin.spec.ts
Due: core, plugin-auth

chore: 🛠 bump all major packages
  apps/sandbox/jest.config.js
  libs/angular/jest.config.js
  libs/core/jest.config.js
  libs/plugin-auth/jest.config.js
  libs/plugin-cache/jest.config.js
  libs/plugin-retry/jest.config.js
  package.json
  yarn.lock
Due: none

chore: 🛠 use optionnal chaining
  libs/core/src/lib/utils/is-promise.ts
  libs/plugin-auth/src/lib/auth-handler.ts
Due: core, plugin-auth

📦 Update dependency jest to v25.2.4
  package.json
  yarn.lock
Due: none

📦 Lock file maintenance
  yarn.lock
Due: none

📦 Update dependency ts-jest to v25.3.0
  package.json
  yarn.lock
Due: none

🛠 fix onUnauthorized function not null check
  libs/plugin-auth/src/lib/auth-handler.ts
Due: plugin-auth

📝 add plugin-auth doc
  README.md
  libs/plugin-auth/README.md
Due: none

🚧 rename `condition` to `shouldHandleRequest`
  libs/core/src/lib/plugin.ts
Due: core

🚧 rename `condition` to `shouldHandleRequest`
  package.json
Due: none

🚧 rename `condition` to `shouldHandleRequest`
  libs/core/src/lib/http-ext.ts
Due: core

feat(core): ✅ deprecate `condition` in favor of `shouldHandleRequest`
  libs/core/src/lib/http-ext.ts
Due: core

v1.2.0
  CHANGELOG.md
  lerna.json
  libs/angular/CHANGELOG.md
  libs/angular/package.json
  libs/core/CHANGELOG.md
  libs/core/package.json
  libs/plugin-auth/CHANGELOG.md
  libs/plugin-auth/package.json
  libs/plugin-cache/CHANGELOG.md
  libs/plugin-cache/package.json
  libs/plugin-retry/CHANGELOG.md
  libs/plugin-retry/package.json
Due: none

feat: ✅ rename `condition` to `shouldHandleRequest`
  README.md
  libs/core/src/lib/http-ext.ts
  libs/core/src/lib/plugin.ts
  libs/core/testing/src/lib/create-spy-plugin.ts
  libs/plugin-auth/README.md
  libs/plugin-auth/src/lib/create-auth-plugin.ts
  libs/plugin-cache/src/lib/create-cache-plugin.spec.ts
  libs/plugin-cache/src/lib/create-cache-plugin.ts
  libs/plugin-retry/README.md
  libs/plugin-retry/src/lib/create-retry-plugin.ts
Due: core, plugin-auth, plugin-cache, plugin-retry

chore: 🛠 use master as base branch
  .github/renovate.json
  tools/merge-into-master.sh
Due: none

chore: 🛠 fix `shouldHandleRequest` doc
  README.md
  libs/plugin-auth/README.md
  libs/plugin-cache/README.md
  libs/plugin-retry/README.md
Due: none

📦 Update dependency @types/node to v13.9.8
  yarn.lock
Due: none

📦 Update dependency cypress to v4.3.0
  package.json
  yarn.lock
Due: none

fix(plugin-cache): 🐞 fix undefined global `Buffer` object
  libs/plugin-cache/package.json
  libs/plugin-cache/src/lib/storages/memory-storage.ts
  yarn.lock
Due: plugin-cache

fix(plugin-cache): 🐞 whitelist buffer package
  libs/plugin-cache/ng-package.json
Due: none

📦 Update dependency @types/express to v4.17.4
  package.json
  yarn.lock
Due: none

📦 Update dependency jest-preset-angular to v8.1.3
  package.json
  yarn.lock
Due: none

📦 Update nrwl monorepo to v9.2.1
  package.json
  yarn.lock
Due: none

v2.0.0
  CHANGELOG.md
  lerna.json
  libs/angular/CHANGELOG.md
  libs/angular/package.json
  libs/core/CHANGELOG.md
  libs/core/package.json
  libs/plugin-auth/CHANGELOG.md
  libs/plugin-auth/package.json
  libs/plugin-cache/CHANGELOG.md
  libs/plugin-cache/package.json
  libs/plugin-retry/CHANGELOG.md
  libs/plugin-retry/package.json
Due: none

📦 Update dependency tslint to v6.1.1
  yarn.lock
Due: none

🚧 add search query
  apps/sandbox-api/src/main.ts
Due: none

🚧 use auth plugin in sandbox app
  apps/sandbox-api/src/main.ts
  apps/sandbox/src/app/app.module.ts
  package.json
  yarn.lock
Due: none

🚧 improve api file structure
  apps/sandbox-api/src/app/get-bike.ts
  apps/sandbox-api/src/app/get-bikes.ts
  apps/sandbox-api/src/app/throw-server-error.ts
  apps/sandbox-api/src/main.ts
Due: none

chore: 🛠 logo proposal
  README.md
  logo.png
Due: none

Path conditions:
  angular: any of: libs/angular/src
  core: any of: libs/core/src
  plugin-auth: any of: libs/plugin-auth/src
  plugin-cache: any of: libs/plugin-cache/src
  plugin-retry: any of: libs/plugin-retry/src
