Repository jscutlery/convoyr: changes, and which Codecov flags are due for each by the changed paths.
All: angular, axios, core, plugin-auth, plugin-cache, plugin-retry

fix(angular): 🐞 handle and convert `HttpErrorResponse`
  libs/angular/src/lib/convoyr.inteceptor.spec.ts
  libs/angular/src/lib/convoyr.interceptor.ts
  libs/angular/src/lib/http-converter.spec.ts
  libs/angular/src/lib/http-converter.ts
Due: angular

chore(angular): 🛠 change error type to any
  libs/angular/src/lib/http-converter.ts
Due: angular

wip(core): 🚧 add `matchPath` matcher
  libs/core/src/lib/matchers/match-path/invalid-path-match-expression.ts
  libs/core/src/lib/matchers/match-path/match-path-expression.ts
  libs/core/src/lib/matchers/match-path/match-path.spec.ts
  libs/core/src/lib/matchers/match-path/match-path.ts
  libs/core/src/lib/matchers/match-path/method-string-matcher.ts
Due: core

feat(core): ✅ add `matchPath` matcher
  README.md
  libs/core/src/index.spec.ts
  libs/core/src/index.ts
  libs/core/src/lib/matchers/index.ts
Due: core

chore: 🛠 remove from-package lerna option
  package.json
Due: none

release: 🚀 publish v3.2.0
  CHANGELOG.md
  lerna.json
  libs/angular/CHANGELOG.md
  libs/angular/package.json
  libs/core/CHANGELOG.md
  libs/core/package.json
  libs/plugin-auth/CHANGELOG.md
  libs/plugin-auth/package.json
  libs/plugin-cache/CHANGELOG.md
  libs/plugin-cache/package.json
  libs/plugin-retry/CHANGELOG.md
  libs/plugin-retry/package.json
Due: none

wip: 🚧 refactor tester plugin
  libs/core/testing/src/lib/create-plugin-tester.ts
  libs/plugin-auth/src/lib/auth-handler.spec.ts
  libs/plugin-cache/src/lib/cache-handler.spec.ts
  libs/plugin-retry/src/lib/create-retry-plugin.spec.ts
Due: plugin-auth, plugin-cache, plugin-retry

wip: 🚧 refactor tester plugin
  libs/plugin-auth/src/lib/create-auth-plugin-params.spec.ts
  libs/plugin-cache/src/lib/cache-handler.spec.ts
Due: plugin-auth, plugin-cache

wip: 🚧 refactor tester plugin
  libs/core/testing/src/lib/create-plugin-tester.ts
Due: none

wip: 🚧 refactor tester plugin
  libs/plugin-auth/src/lib/auth-handler.spec.ts
Due: plugin-auth

wip: 🚧 refactor tester plugin
  libs/plugin-cache/src/lib/cache-handler.spec.ts
Due: plugin-cache

wip: 🚧 refactor tester plugin
  libs/plugin-retry/src/lib/create-retry-plugin.spec.ts
Due: plugin-retry

wip: 🚧 refactor tester plugin
  libs/core/testing/src/lib/create-plugin-tester.spec.ts
Due: none

chore(angular): 🛠 add `ErrorBody` interface
  libs/angular/src/lib/convoyr.interceptor.ts
  libs/angular/src/lib/http-converter.ts
Due: angular

chore: 📦 update angularcli monorepo
  yarn.lock
Due: none

chore: 📦 update dependency @angular/cli to v9.1.7
  package.json
  yarn.lock
Due: none

chore: 📦 update dependency all-contributors-cli to v6.15.0
  yarn.lock
Due: none

chore: 📦 update dependency lerna to v3.22.0
  yarn.lock
Due: none

chore: 📦 update dependency cypress to v4.7.0
  package.json
  yarn.lock
Due: none

chore: 📦 update dependency ts-node to v8.10.2
  yarn.lock
Due: none

chore: 📦 update dependency lint-staged to v10.2.7
  package.json
  yarn.lock
Due: none

chore(testing): 🛠 add missing type exports
  libs/core/testing/src/index.ts
Due: none

chore(testing): 🛠 improve testing
  libs/core/testing/src/lib/create-plugin-tester.spec.ts
Due: none

feat(testing): ✅ run Convoyr core in `PluginTester`
  libs/core/testing/src/index.ts
  libs/core/testing/src/lib/create-plugin-tester.spec.ts
  libs/core/testing/src/lib/create-plugin-tester.ts
Due: none

chore: 🛠 refactor plugin tests
  libs/plugin-auth/src/lib/auth-handler.spec.ts
  libs/plugin-cache/src/lib/cache-handler.spec.ts
  libs/plugin-retry/src/lib/create-retry-plugin.spec.ts
Due: plugin-auth, plugin-cache, plugin-retry

chore: 🛠 fix testing build
  libs/core/testing/src/lib/create-plugin-tester.ts
Due: none

chore: 🛠 fix testing build
  libs/core/src/index.spec.ts
  libs/core/src/index.ts
  libs/core/testing/src/lib/create-plugin-tester.ts
Due: core

release: 🚀 publish v4.0.0
  CHANGELOG.md
  lerna.json
  libs/angular/CHANGELOG.md
  libs/angular/package.json
  libs/core/CHANGELOG.md
  libs/core/package.json
  libs/plugin-auth/CHANGELOG.md
  libs/plugin-auth/package.json
  libs/plugin-cache/CHANGELOG.md
  libs/plugin-cache/package.json
  libs/plugin-retry/CHANGELOG.md
  libs/plugin-retry/package.json
Due: none

chore(sandbox): 🛠 add `rejectUnknownOriginsPlugin`
  apps/sandbox/src/app/http/reject-unknown-origins-plugin.spec.ts
  apps/sandbox/src/app/http/reject-unknown-origins-plugin.ts
Due: none

chore(testing): 🛠 improve `SpyPlugin` args and typing
  libs/core/src/lib/convoyr.spec.ts
  libs/core/testing/src/index.ts
  libs/core/testing/src/lib/create-plugin-tester.spec.ts
  libs/core/testing/src/lib/create-spy-plugin.spec.ts
  libs/core/testing/src/lib/create-spy-plugin.ts
Due: core

chore(testing): 🛠 rename to `createHttpHandlerMock` fn
  apps/sandbox/src/app/http/reject-unknown-origins-plugin.spec.ts
  libs/core/testing/src/lib/create-plugin-tester.spec.ts
  libs/core/testing/src/lib/create-plugin-tester.ts
  libs/plugin-auth/src/lib/auth-handler.spec.ts
  libs/plugin-cache/src/lib/cache-handler.spec.ts
  libs/plugin-retry/src/lib/create-retry-plugin.spec.ts
Due: plugin-auth, plugin-cache, plugin-retry

chore: 📦 update dependency ts-jest to v26.1.0
  package.json
  yarn.lock
Due: none

chore: 📦 update dependency lint-staged to v10.2.8
  package.json
  yarn.lock
Due: none

chore: 📦 lock file maintenance
  yarn.lock
Due: none

Path conditions:
  angular: any of: libs/angular/src
  axios: any of: libs/axios/src
  core: any of: libs/core/src
  plugin-auth: any of: libs/plugin-auth/src
  plugin-cache: any of: libs/plugin-cache/src
  plugin-retry: any of: libs/plugin-retry/src
