Repository jscutlery/convoyr: changes, and which Codecov flags are due for each by the changed paths.
All: angular, core, plugin-auth, plugin-cache, plugin-retry

🚧 add auth plugin
  README.md
  libs/plugin-auth/src/lib/auth-handler.ts
  libs/plugin-auth/src/lib/create-auth-plugin.ts
Due: plugin-auth

🚧 add auth plugin
  libs/plugin-auth/src/lib/auth-handler.ts
  libs/plugin-auth/src/lib/create-auth-plugin.spec.ts
  libs/plugin-auth/src/lib/create-auth-plugin.ts
Due: plugin-auth

🚧 add auth plugin
  libs/plugin-auth/src/lib/create-auth-plugin.spec.ts
Due: plugin-auth

🚧 add auth plugin
  libs/plugin-auth/src/lib/auth-handler.ts
Due: plugin-auth

🚧 add auth plugin
  libs/plugin-auth/src/lib/set-header.ts
Due: plugin-auth

🚧 add auth plugin
  libs/plugin-auth/src/lib/auth-handler.ts
  libs/plugin-auth/src/lib/create-auth-plugin.spec.ts
Due: plugin-auth

📦 Update dependency husky to v4.0.9
  yarn.lock
Due: none

📦 Lock file maintenance
  yarn.lock
Due: none

📦 Update angular monorepo to v9.0.0-rc.9
  yarn.lock
Due: none

📦 Update dependency husky to v4.0.10
  yarn.lock
Due: none

chore: 🛠 add commitlint hook
  commitlint.config.js
  package.json
  yarn.lock
Due: none

📦 Update dependency @types/node to v12.12.25
  yarn.lock
Due: none

📦 Update dependency all-contributors-cli to v6.13.0
  yarn.lock
Due: none

📦 Update dependency husky to v4.2.0
  yarn.lock
Due: none

📦 Update dependency @types/express to v4.17.2
  package.json
Due: none

📦 Update dependency @types/jest to v24.9.0
  package.json
Due: none

📦 Update dependency cypress to v3.8.2
  package.json
Due: none

📦 Update dependency tsickle to ^0.38.0
  package.json
Due: none

📦 Update dependency lint-staged to v10
  package.json
Due: none

🚧 add auth plugin: expose plugin options
  libs/plugin-auth/src/index.ts
  libs/plugin-auth/src/lib/auth-handler.ts
  libs/plugin-auth/src/lib/create-auth-plugin.spec.ts
  libs/plugin-auth/src/lib/create-auth-plugin.ts
Due: plugin-auth

🚧 add auth plugin: add onUnauthorized callback
  libs/plugin-auth/src/lib/create-auth-plugin.spec.ts
Due: plugin-auth

🚧 add auth plugin: add onUnauthorized callback
  libs/plugin-auth/src/index.ts
  libs/plugin-auth/src/lib/auth-handler.ts
  libs/plugin-auth/src/lib/create-auth-plugin.spec.ts
  libs/plugin-auth/src/lib/create-auth-plugin.ts
  libs/plugin-auth/src/lib/on-unauthorized.ts
Due: plugin-auth

📦 Update angular monorepo to v9.0.0-rc.10
  yarn.lock
Due: none

📦 Update dependency typescript to v3.6.5
  yarn.lock
Due: none

📦 Update dependency husky to v4.2.1
  yarn.lock
Due: none

chore: 🛠 use secondary endpoint for testing package
  libs/core/src/lib/http-ext.spec.ts
  libs/core/testing/package.json
  libs/core/testing/src/create-spy-plugin.ts
  libs/core/testing/src/index.ts
  libs/core/tsconfig.lib.json
  tsconfig.json
  tslint.json
Due: core

chore: 🛠 fix Renovate bot issue with Lerna
  lerna.json
Due: none

chore: 🛠 fix secondary endpoint resolution
  libs/core/testing/ng-package.json
  libs/core/testing/package.json
  libs/core/testing/src/create-spy-plugin.ts
  libs/core/testing/src/index.ts
  libs/core/testing/src/lib/create-spy-plugin.ts
  libs/core/tsconfig.lib.json
  tsconfig.json
Due: none

chore: 🛠 fix secondary endpoint resolution
  tsconfig.json
Due: none

chore: 🛠 rename `_createSpyPlugin` to `createSpyPlugin`
  libs/angular/src/lib/http-ext.module.spec.ts
  libs/core/src/lib/http-ext.spec.ts
  libs/core/testing/src/index.ts
  libs/core/testing/src/lib/create-spy-plugin.ts
Due: angular, core

Path conditions:
  angular: any of: libs/angular/src
  core: any of: libs/core/src
  plugin-auth: any of: libs/plugin-auth/src
  plugin-cache: any of: libs/plugin-cache/src
  plugin-retry: any of: libs/plugin-retry/src
