Repository jscutlery/convoyr: changes, and which Codecov flags are due for each by the changed paths.
All: core, angular, plugin-cache

v0.1.0
  CHANGELOG.md
  lerna.json
  libs/angular/CHANGELOG.md
  libs/angular/package.json
  libs/core/package.json
  libs/plugin-cache/CHANGELOG.md
  libs/plugin-cache/package.json
Due: none

v0.2.0
  CHANGELOG.md
  lerna.json
  libs/angular/CHANGELOG.md
  libs/angular/package.json
  libs/core/CHANGELOG.md
  libs/core/package.json
  libs/plugin-cache/CHANGELOG.md
  libs/plugin-cache/package.json
Due: none

🛠 add _lerna:version script
  package.json
Due: none

🛠 fix cacheMetadata usage in test
  libs/plugin-cache/src/lib/plugin-cache.spec.ts
Due: plugin-cache

🛠 add `publish:libs` scripts
  package.json
  yarn.lock
Due: none

📝 update libraries READMEs for npm
  libs/angular/README.md
  libs/core/README.md
  libs/plugin-cache/README.md
Due: none

🛠 move cache metadata into body and body into data when cache metadata is enabled
  apps/sandbox/src/app/app.component.ts
  apps/sandbox/src/app/app.module.ts
  apps/sandbox/src/app/book-detail.component.ts
  apps/sandbox/src/app/book-list.component.ts
  apps/sandbox/src/app/http/logger-plugin.ts
  libs/plugin-cache/src/lib/apply-metadata.ts
  libs/plugin-cache/src/lib/metadata.ts
  libs/plugin-cache/src/lib/plugin-cache.spec.ts
  libs/plugin-cache/src/lib/plugin-cache.ts
Due: plugin-cache

:hammer_and_wrench: use jest
  libs/angular/src/lib/http-converter.spec.ts
  libs/plugin-cache/src/lib/plugin-cache.spec.ts
Due: angular, plugin-cache

fix: :beetle: remove broken imports
  libs/plugin-cache/src/lib/plugin-cache.spec.ts
  libs/plugin-cache/src/lib/plugin-cache.ts
Due: plugin-cache

:hammer_and_wrench: rename `CachePartialMetadata` to `PartialCacheMetadata`
  libs/plugin-cache/src/lib/metadata.ts
  libs/plugin-cache/src/lib/plugin-cache.ts
Due: plugin-cache

:hammer_and_wrench: improve cache details
  libs/plugin-cache/src/lib/plugin-cache.ts
Due: plugin-cache

:hammer_and_wrench: use new `TestBed.inject(...)`
  libs/angular/src/lib/http-ext.module.spec.ts
Due: angular

:hammer_and_wrench: test all packages in band
  .github/workflows/ci.yml
Due: none

📦 Update dependency @types/node to v12.12.11
  yarn.lock
Due: none

:hammer_and_wrench: bump core peer dependencie
  libs/angular/package.json
  libs/plugin-cache/package.json
Due: none

:hammer_and_wrench: include Angular v9 as correct peer dependencie
  libs/angular/package.json
  libs/core/package.json
  libs/plugin-cache/package.json
Due: none

:hammer_and_wrench: add more meta in each package.json
  libs/angular/package.json
  libs/core/package.json
  libs/plugin-cache/package.json
Due: none

📦 Update dependency lerna to v3.18.5
  yarn.lock
Due: none

v0.1.1
  CHANGELOG.md
  lerna.json
  libs/angular/CHANGELOG.md
  libs/angular/package.json
  libs/core/CHANGELOG.md
  libs/core/package.json
  libs/plugin-cache/CHANGELOG.md
  libs/plugin-cache/package.json
Due: none

📦 Update dependency typescript to ~3.7.0
  package.json
  yarn.lock
Due: none

:hammer_and_wrench: fix `publish:libs` command
  package.json
Due: none

📦 Update dependency jest-preset-angular to v8
  package.json
  yarn.lock
Due: none

🧪 configure HttpExt in angular with DI
  apps/sandbox/src/app/app.module.ts
  libs/angular/src/lib/http-ext.module.ts
Due: angular

📦 Update dependency lerna to v3.19.0
  yarn.lock
Due: none

📦 Update angular monorepo to v9.0.0-rc.3
  yarn.lock
Due: none

📦 Lock file maintenance
  yarn.lock
Due: none

📦 Update nrwl monorepo to v8.8.0
  package.json
  yarn.lock
Due: none

feat: ✅ handle plugin-cache request condition
  libs/core/src/index.ts
  libs/plugin-cache/src/lib/plugin-cache.spec.ts
  libs/plugin-cache/src/lib/plugin-cache.ts
Due: core, plugin-cache

:pencil: update README.md
  README.md
Due: none

:pencil: add badges to README.md
  README.md
Due: none

:pencil: fix README.md typos
  README.md
Due: none

:hammer_and_wrench: migrate `jest-preset-angular` to v8
  apps/sandbox/jest.config.js
  jest.config.js
  libs/angular/jest.config.js
  libs/core/jest.config.js
  libs/plugin-cache/jest.config.js
Due: none

📦 Update dependency core-js to v3.4.2
  yarn.lock
Due: none

📦 Update dependency ts-jest to v24.2.0
  package.json
  yarn.lock
Due: none

Path conditions:
  core: any of: libs/core/src
  angular: any of: libs/angular/src
  plugin-cache: any of: libs/plugin-cache/src
